@model DTO.DTOs.ProductDTOs.ProductAddDto

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Ekle</h1>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content p-2">
<div class="container col-10" style="margin-top:10px">

            @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
    {

        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Fotoğraf Linki")
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Durum")
        <div>
        <label>
            @Html.CheckBoxFor(x=>x.Status, new { Style = "vertical-align:3px}" }) Aktif
        </label>
        </div>
        @Html.ValidationMessageFor(x => x.Status,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId, (List<SelectListItem>)ViewBag.SelectListCategory, "Lütfen Seçiniz", new {@class="dropdown form-control"})
        @Html.ValidationMessageFor(x => x.CategoryId,"", new { @class = "text-danger" })

        <br />
        <button class="btn btn-info mt-3" type="submit">Kaydet</button>

    }
</div>
</section>
</div>