@model DTO.DTOs.ProductDTOs.ProductUpdateDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>
<div class="container col-10" style="margin-top:40px">

    @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ID)
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Fotoğraf Linki")
        @Html.TextAreaFor(x => x.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Durum")
        <div>
        <label>
                @Html.CheckBoxFor(x=>x.Status, new { Style = "vertical-align:3px}" }) Aktif
        </label>
        </div>
        @Html.ValidationMessageFor(x => x.Status,"", new { @class = "text-danger" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId, (List<SelectListItem>)ViewBag.SelectListCategory, "Lütfen Seçiniz", new {@class="dropdown form-control"})
        @Html.ValidationMessageFor(x => x.CategoryId,"", new { @class = "text-danger" })
        <br />
        <button class="btn btn-info mt-3" type="submit">Kaydet</button>

    }
</div>
