@model Shoppinglist_EntityLayer.Concrete.ProductToDoList
@{
    ViewData["Title"] = "EditProductToDoList";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}
<div class="col-8">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kategori Güncelle</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content p-2">
        <div class="container col-10" style="margin-top:10px">
            @using (Html.BeginForm("EditProductToDoList", "ProductToDoList", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.ID)
                @Html.Label("Liste Adı")
                @Html.HiddenFor(x => x.ToDoListID)
                @Html.TextBoxFor(x => x.toDoList.Name, new { @readonly="readonly", @class = "form-control" })
                <br />
                @Html.Label("Ürün Adı")
                @Html.HiddenFor(x => x.ProductID)
                @Html.TextBoxFor(x => x.product.Name, new { @readonly="readonly", @class = "form-control" })
                <br />
                @Html.Label("Açıklama")
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                
                <br />
                <button class="btn btn-info mt-3" type="submit">Kaydet</button>

            }
        </div>

    </section>
</div>

