@model DTO.DTOs.ProductToDoListDTOs.ProductToDoListDto
@{
    ViewData["Title"] = "Liste Detay";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Buradasın -->
<div class="col-10">
<section class="content" style="min-height: 680px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                       @foreach (var todolist in Model.toDoLists)
                        {
                            <h3 class="profile-username text-center">@todolist.Name</h3>

                        }
                        <ul class="list-group list-group-unbordered mb-3" id="sepet">
                            @foreach (var item in Model.selectedListItems)
                            {
                                <li class="list-group-item">
                                    <b>@item.product.Name</b> <a class="float-right">@item.Description</a>
                                </li>
                            }
                           
                        </ul>

                    </div>
                    <!-- /.card-body -->
                </div>
                
            </div>
            <!-- /.col -->
            <div class="col-md-10">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                               
                                @*<ul class="list-group list-group-unbordered mb-3">
                                    @foreach (var product in Model.products)
                                    {
                                        <li class="list-group-item">
                                            <b>@product.Name</b> <a href="#" class="float-right btn-tool"><i class="fas fa-plus"></i></a>
                                        </li>
                                    }

                                </ul>*@
                                <div class="row d-flex align-items-stretch">
                                    @foreach (var product in Model.products)
                                    {
                                        <div class="col-12 col-sm-6 col-md-2 d-flex align-items-stretch">
                                            <div class="card bg-light">
                                                <div class="card-header text-muted border-bottom-0">
                                                    <div>
                                                        @product.Category.Name

                                                    </div>
                                                </div>

                                                <div class="card-body pt-0">
                                                    <div class="row">
                                                        <div class="col-12" id="@product.ID" >
                                                            <h2 class="lead"><b>@product.Name</b></h2>

                                                            <img src="@product.ImageUrl" alt="" class="img-circle img-fluid" style="height=" 250px";width="250px" ;">

                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="card-footer">

                                                    <div class="row">
                                                       
                                                        <a  class="btn btn-sm btn-primary m-1" onclick="AddProductToDoList(@product.ID)">
                                                            Ekle
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                               
                            </div>

                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
</div>

<script>

    function AddProductToDoList(productID) {
       
        var productName = document.getElementById(productID).innerText;
        var promise = setDescription();

        promise.then(function(description) {

            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/ProductToDoList/AddProductToDoList/",
                data: {
                    productID: productID,
                    toDoListID: @Model.toDoListID,
                    description: description
                },
                success: function (data) {
                    document.getElementById("sepet").insertAdjacentHTML("beforeend",
                        "<li class='list-group-item'><b>" + productName + "</b> <a class='float-right'>" + description + "</a ></li>");

                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'Ürün listeye eklendi',
                        showConfirmButton: false,
                        timer: 2000
                    })
                    //setTimeout(() => { location.reload(true) }, 2500);
                }
            });
        });
    }

    function setDescription()
    {
        return new Promise((resolve, reject) => {
        Swal.fire({
            title: 'Submit your Github username',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Look up',
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
                return resolve(login)
            }
        })
        })
    }
</script>

